{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add a new page
{% endblock %}

{% block body %}
    <form action="{% url 'newentry' %}" method="POST">
        {% csrf_token %}
        <h1>Add a new entry!</h1>
        <input id="new" type="text" placeholder="Please enter a title" name="title">
        <textarea name="description">Please enter a description in markdown.</textarea>
        <button class="btn">Submit</button>
        {% if messages %}
        {% for message in messages %}
        <div id="message">{{ message }}</div> 
        {% endfor %}
        {% endif %}   
    </form>
{% endblock %}